<div id="map"
     style="width: 100%; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    <div class="legend-wrapper">
      <%= image_tag "logo.png", class: "logo" %>
      <h1>Travel restrictions</h1>
      <h2>legend</h2>
      <p><%= image_tag "icon-positive.png", class: "info-icons" %> Restrictions relaxing</p>
      <p><%= image_tag "icon.png", class: "info-icons" %> Restrictions strengthening</p>
      <p><%= image_tag "quarantaine.png", class: "info-icons" %> Quarentine needed to enter</p>
      <p><%= image_tag "no-quarantaine.png", class: "info-icons" %> No Quarentine needed to enter the country</p>
      <%= link_to "Load data", emi_data_service_path, class: "my-btn" %>
    </div>
</div>
